﻿   <!-- Footer -->
<div class="g-bg-black-opacity-0_9 g-color-white-opacity-0_8 g-py-60">
    <div class="container">
        <div class="row">
            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                <a class="d-block g-mb-20" href="index.html">
                    <img class="img-fluid" src="../../assets/Front/img/logo/logo-2.png" alt="Logo">
                </a>
                <p>About Unify dolor sit amet, consectetur adipiscing elit. Maecenas eget nisl id libero tincidunt sodales.</p>
                <p class="mb-0">Duis eleifend fermentum ante ut aliquam. Cras mi risus, dignissim sed adipiscing ut, placerat non arcu.</p>
            </div>
            <!-- End Footer Content -->
            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
                    <h2 class="u-heading-v3__title h6 text-uppercase g-brd-primary">Latest Posts</h2>
                </div>
                <article>
                    <h3 class="h6 g-mb-2">
                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Incredible template</a>
                    </h3>
                    <div class="small g-color-white-opacity-0_6">May 8, 2017</div>
                </article>
                <hr class="g-brd-white-opacity-0_1 g-my-10">
                <article>
                    <h3 class="h6 g-mb-2">
                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">New features</a>
                    </h3>
                    <div class="small g-color-white-opacity-0_6">June 23, 2017</div>
                </article>
                <hr class="g-brd-white-opacity-0_1 g-my-10">
                <article>
                    <h3 class="h6 g-mb-2">
                        <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">New terms and conditions</a>
                    </h3>
                    <div class="small g-color-white-opacity-0_6">September 15, 2017</div>
                </article>
            </div>
            <!-- End Footer Content -->
            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6 g-mb-40 g-mb-0--lg">
                <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
                    <h2 class="u-heading-v3__title h6 text-uppercase g-brd-primary">Useful Links</h2>
                </div>
                <nav class="text-uppercase1">
                    <ul class="list-unstyled g-mt-minus-10 mb-0">
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">About Us</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Portfolio</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Our Services</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-brd-bottom g-brd-white-opacity-0_1 g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Latest Jobs</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                        <li class="g-pos-rel g-py-10">
                            <h4 class="h6 g-pr-20 mb-0">
                                <a class="g-color-white-opacity-0_8 g-color-white--hover" href="#!">Contact Us</a>
                                <i class="fa fa-angle-right g-absolute-centered--y g-right-0"></i>
                            </h4>
                        </li>
                    </ul>
                </nav>
            </div>
            <!-- End Footer Content -->
            <!-- Footer Content -->
            <div class="col-lg-3 col-md-6">
                <div class="u-heading-v3-1 g-brd-white-opacity-0_3 g-mb-25">
                    <h2 class="u-heading-v3__title h6 text-uppercase g-brd-primary">Our Contacts</h2>
                </div>
                <address class="g-bg-no-repeat g-line-height-2 g-mt-minus-4" style="background-image: url(../../assets/Front/img/maps/map2.png);">
                    25, Lorem Lis Street, Orange
                    <br> California, US
                    <br> Phone: 800 123 3456
                    <br> Fax: 800 123 3457
                    <br> Email: <a href="mailto:info@htmlstream.com" class="">info@htmlstream.com</a>
                </address>
            </div>
            <!-- End Footer Content -->
        </div>
    </div>
</div>
<!-- End Footer -->