﻿<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="../../Assets/Back/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
         
      
 <li>
                <a href=@Url.Action("Index","Client")>
                    <i class="fa fa-users" ></i><span> Clients</span>
                    
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-briefcase"></i>
                    <span>Projects</span>
                    <span class="pull-right-container">
                    
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="~/Project/NonAffectedProjects"><i class="fa fa-circle-o"></i> Levio Projects</a></li>
                    <li><a href="~/Project/Index"><i class="fa fa-circle-o"></i> Other Prjects</a></li>
                   
                </ul>
            </li>      

  <li class="treeview">
                
		<a href="#">
                    <i class="fa fa-edit"></i> <span>Resources Management</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href=@Url.Action("Index","Resource")>
                        <i class="fa fa-circle-o">
                        </i> Resources
                        </a></li>
                    <li><a href="@Url.Action("ProjectAffectation","Resource")"><i class="fa fa-circle-o"></i> Assignations Projects</a></li>
                    
                </ul>
            </li>
	                <li><a href=@Url.Action("Index","Skills")><i class="fa fa-book"></i> <span>Skills Management</span></a></li>

            <li class="active treeview menu-open">
                <a href="#">
                    <i class="fa fa-users"></i> <span> International Recruitment</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="">
                    <li><a href="@Url.Action("Index","Tests")"><i class="fa fa-indent"></i>Management Tests</a></li>
                    <li class="active"><a href="@Url.Action("Index","Request")"><i class="fa fa-tasks"></i>Management Request</a></li>
                    <li class="active"><a href="@Url.Action("Index","Parrain")"><i class="fa fa-user-plus"></i>Management Parrain</a></li>
                    <li class="active"><a href="@Url.Action("Index","Postes")"><i class="fa fa-map-signs"></i>Management Postes</a></li>
                    <li class="active"><a href="@Url.Action("Index","Postes")"><i class="fa  fa-pie-chart"></i>Statistiques</a></li>

                </ul>
            </li>
            <li class="active treeview menu-open">
                <a href="#">
                    <i class="fa fa-users"></i> <span>Communication</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href=@Url.Action("Index", "Reclamation")><i class="fa fa-circle-o"></i> Reclamation</a></li>
                    <li><a href="../Assets/Back/forms/advanced.html"><i class="fa fa-circle-o"></i> Message</a></li>
                    <li><a href="@Url.Action("Chat", "Home")"><i class="fa fa-circle-o"></i> Live chat</a></li>
                    <li><a href="@Url.Action("Index","Resource")"><i class="fa fa-circle-o"></i> Mail</a></li>
                    <li><a href="../Assets/Back/forms/advanced.html"><i class="fa fa-circle-o"></i> Statistique Top Recource</a></li>
                    <li><a href="@Url.Action("PieChart", "Reclamation")"><i class="fa fa-circle-o"></i> Statistique Reclamation</a></li>

                </ul>
            </li>

            <li class="active treeview menu-open">
                <a href="#">
                    <i class="fa fa-users"></i> <span>Management Resources</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="">
                    <li><a href="@Url.Action("Index","Tests")"><i class="fa fa-indent"></i>Reclamation</a></li>
                    <li class="active"><a href="@Url.Action("Index","Request")"><i class="fa fa-tasks"></i>Messagerie</a></li>
                    <li class="active"><a href="@Url.Action("Index","Parrain")"><i class="fa fa-user-plus"></i>Email</a></li>
                    <li class="active"><a href="@Url.Action("Index","Postes")"><i class="fa fa-map-signs"></i>Chat</a></li>
                    <li class="active"><a href="@Url.Action("Index","Postes")"><i class="fa  fa-pie-chart"></i>Statistiques</a></li>

                </ul>
            </li>


            <li class="active treeview menu-open">
                <a href="#">
                    <i class="fa fa-users"></i> <span>Management Client/Project</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu" style="">
                    <li><a href="@Url.Action("Index","Tests")"><i class="fa fa-indent"></i>Reclamation</a></li>
                    <li class="active"><a href="@Url.Action("Index","Request")"><i class="fa fa-tasks"></i>Messagerie</a></li>
                    <li class="active"><a href="@Url.Action("Index","Parrain")"><i class="fa fa-user-plus"></i>Email</a></li>
                    <li class="active"><a href="@Url.Action("Index","Postes")"><i class="fa fa-map-signs"></i>Chat</a></li>
                    <li class="active"><a href="@Url.Action("Index","Postes")"><i class="fa  fa-pie-chart"></i>Statistiques</a></li>

                </ul>
            </li>

           


            <li class="active treeview menu-open">
                <a href="#">
                    <i class="fa fa-users"></i> <span>Statistiques</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
      
            </li></ul>
    </section>
    <!-- /.sidebar -->
</aside>













