﻿@model IEnumerable<MAP.Presentation.Models.ProjectModel>
<!DOCTYPE html>
<html>
<!-- Mirrored from adminlte.io/themes/AdminLTE/pages/examples/blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 28 Oct 2018 23:17:13 GMT -->
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AdminLTE 2 | Blank Page</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.7 -->
    <link rel="stylesheet" href="~/Assets/Back/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/Back/bower_components/font-awesome/css/font-awesome.min.css">
    <!-- Ionicons -->

    <link href="~/Assets/Back/bower_components/Ionicons/css/ionicons.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Assets/Back/dist/css/AdminLTE.min.css" rel="stylesheet" />

    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->



    <link href="~/Assets/Back/dist/css/skins/_all-skins.min.css" rel="stylesheet" />

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Google Font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body class="hold-transition skin-blue sidebar-mini">


    <!-- Site wrapper -->
    <div class="wrapper">
        @Html.Partial("LeftSideMenu")
        @Html.Partial("TopNavigation")
        <!-- =============================================== -->
        <!-- Left side column. contains the sidebar -->
        <!-- =============================================== -->
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->

            <section class="content">
                <div class="row">
                    <div class="col-md-3">
                        <a href="~/Project/Create" class="btn btn-primary btn-block margin-bottom"> Add Project </a>

                        <div class="box box-solid">
                            <div class="box-header with-border">
                                <h3 class="box-title">Filter</h3>

                                <div class="box-tools">
                                    <button type="button" class="btn btn-box-tool" data-widget="collapse">
                                        <i class="fa fa-minus"></i>
                                    </button>
                                </div>
                            </div>
                            <div class="box-body no-padding">
                                <ul class="nav nav-pills nav-stacked">
                                    <li>
                                        
                                            @Html.ActionLink("Projects in Progress", "ProjectsInProgress")
                                       
                                    </li>
                                    <li>
                                       
                                            @Html.ActionLink("New Projects", "NewProjects")
                                        
                                    </li>
                                    <li>
                                        
                                            @Html.ActionLink("Ended Projects", "EndedProjects")
                                       
                                    </li>
                                </ul>
                            </div>
                            <!-- /.box-body -->
                        </div>
                        <!-- /. box -->
                        <!-- /.box -->
                    </div>
                    <!-- /.col -->

                    <div class="col-md-9">






                        @foreach (var item in Model)
                        {
                            <div class="col-md-3">

                                <!-- Profile Image -->
                              

                               
                                        <div class="box box-danger">
                                            <div class="box-body box-profile">


                                                <h3 class="profile-username text-center">@Html.DisplayFor(modelItem => item.NameProject)</h3>

                                                <p class="text-muted text-center">@Html.DisplayFor(modelItem => item.Type)</p>

                                                <p class="text-muted text-center">@Html.DisplayFor(modelItem => item.Client.Name)</p>
                                               





                                                <div class="box-body">
                                                    <strong>Description</strong>

                                                    <p class="text-muted">
                                                        @Html.DisplayFor(modelItem => item.Description)
                                                    </p>

                                                    

                                                    
                                                </div>







                                                
                                                 <ul class="list-group list-group-unbordered">
                                                   
                                                    <li class="list-group-item">
                                                        <b>Resources Required</b> <a class="pull-right">@Html.DisplayFor(modelItem => item.nbRessourceRequired)</a>
                                                    </li>
                                                    <li class="list-group-item">
                                                        <b>Resources Affected</b> <a class="pull-right">-</a>
                                                    </li>
                                                </ul>

                                                <p align="center">
                                                    @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId })

                                                </p>
                                            </div>
                                            <!-- /.box-body -->
                                        </div>
                                    






                                <!-- /.box -->
                                <!-- About Me Box -->
                                <!-- /.box -->
                            </div>
                                    }








                        <!-- /.box -->
                    </div>



                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </section>




            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        @Html.Partial("FooterBack")
        <!-- Control Sidebar -->
        @Html.Partial("RightSide")
        <!-- /.control-sidebar -->
        <!-- Add the sidebar's background. This div must be placed
             immediately after the control sidebar -->
        <div class="control-sidebar-bg"></div>
    </div>
    <!-- ./wrapper -->
    <!-- jQuery 3 -->
    <script src="~/Assets/Back/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap 3.3.7 -->
    <script src="~/Assets/Back/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- SlimScroll -->
    <script src="~/Assets/Back/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
    <!-- FastClick -->
    <script src="~/Assets/Back/bower_components/fastclick/lib/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Assets/Back/dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="~/Assets/Back/dist/js/demo.js"></script>
    <script>
        $(document).ready(function () {
            $('.sidebar-menu').tree()
        })
    </script>
</body>
<!-- Mirrored from adminlte.io/themes/AdminLTE/pages/examples/blank.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 28 Oct 2018 23:17:13 GMT -->
</html>

